
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Docker ###
/docker/docker-compose.override.yml
/docker/php/ssh
/docker/php/git
/docker/data/shell_history/.xsh_history
###< Docker ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> Misc ###
.idea
###< Misc ###
